body{
    background-color: yellow;
}

h1{
    color: cornflowerblue;
    background-color: whitesmoke;
}

#show_sketch{
    float: right;
}

canvas{
    border: 4px ridge grey;
   border-radius: 20px;
   animation-name: color;
   animation-duration: 3s;
   animation-iteration-count: infinite;
}

@keyframes color{
    from{box-shadow: 5px 5px 8px grey;}
    to{box-shadow: 5px 5px 8px whitesmoke;}
}

p{
    font-size: 20px;
}